.breadcrumbs
{
  &__row
  {
    @include make-row();
    margin-top: 2em;
    margin-bottom: 2em;

    &__column
    {
      @include media-breakpoint-up(xs)
      {
          @include make-col(12);
      }
    }
  }
}
