/.idea/
/.installed.cfg
/.mr.developer.cfg
/.vagrant
/bin/
/bootstrap-buildout.py
/buildout.sh
/develop-eggs/
/kill_plone.sh
/node_modules
/parts/
/plone
/plonectl.sh
/resources/node_modules/
/resources/.plonetheme-upload-cookie
/resources/theme/
/result
/src/
/test.py
/vagrant_scp.sh
/var/
/.DS_Store
/*.zexp
