@font-face
{
  font-family: 'RobotoSlab-Regular';

  src: url('./fonts/roboto-slab/RobotoSlab-Regular.ttf')  format('truetype'); /* Safari, Android, iOS */

}


@font-face
{
  font-family: 'Roboto-Regular';

  src: url('./fonts/roboto-regular/Roboto-Regular.ttf')  format('truetype'); /* Safari, Android, iOS */

}
