


$white: rgb(255, 255, 255);


$path-stress-green: rgb(146, 244, 180);
$path-stress-blue: rgb(104, 173, 233);
$path-stress-darkpink: rgb(186, 108, 110);






$footer-bg-wrapper--blue: rgb(110, 204, 204);
$footer-bg-wrapper--orange: rgb(232, 92, 37);
