


$white: rgb(255, 255, 255);

$black: rgb(33, 33, 33);


$path-stress-green: rgb(146, 244, 180);
$path-depress-blue: rgb(104, 173, 233);
$path-distress-darkpink: rgb(235, 152, 150);


$supportpaths-distress-red: rgb(188, 33, 50);
$supportpaths-mood-orange: rgb(239, 90, 52);
$supportpaths-stress-green: rgb(64, 179, 79);
$supportpaths-relationships-blue: rgb(47, 53, 144);



$footer-bg-wrapper--blue: rgb(110, 204, 204);
$footer-bg-wrapper--orange: rgb(232, 92, 37);
