


$white: rgb(255, 255, 255);


$path-stress-green: rgb(146, 244, 180);
$path-depress-blue: rgb(104, 173, 233);
$path-distress-darkpink: rgb(235, 152, 150);






$footer-bg-wrapper--blue: rgb(110, 204, 204);
$footer-bg-wrapper--orange: rgb(232, 92, 37);
