.content-in-one-page
{

  h1,h2,h3
  {
    text-transform: uppercase;
  }

  .row
  {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }

  .no-margin--top
  {
    margin-top: 0;
  }


  &.sivu1
  {
    background-color: rgb(207, 218, 240);
  }

  &.sivu2
  {
    background-color: rgb(244, 227, 201);

    .rastit-wrapper
    {
      ul
      {
        text-align: center;
      }

      a
      {
        display: block;
        background-color: rgb(230, 65, 74);
        cursor: pointer;
        text-align: center;
        line-height: 6em;
        color: $black;
        font-size: 1.5em;
      }
    }
  }

  &.sivu3
  {
    background-color: rgb(244, 217, 208);
  }
}

// Mosaic Row Styles

.mosaic-stress-group-1 {
  @extend .content-in-one-page.sivu1;
}
.mosaic-stress-group-2 {
  @extend .content-in-one-page.sivu2;
}
.mosaic-stress-group-3 {
  @extend .content-in-one-page.sivu3;
}

// Mosaic Row Styles

.mosaic-card-stress {
  // Stressi
  @extend .content-in-one-page.sivu1;
}
.mosaic-card-mood {
  // Mieliala
  @extend .content-in-one-page.sivu2;
}
.mosaic-card-tension {
  // Jännitys
  @extend .content-in-one-page.sivu3;
}
