.content-in-one-page
{

  h1,h2,h3
  {
    // Force uppercase in onepage sivu 1 2 and 3 if needed
    // text-transform: uppercase;
  }

  .row
  {
    margin-bottom: 4rem;
  }

  .no-margin--top
  {
    margin-top: 0;
  }


  &.sivu1
  {
    background-color: rgb(255, 162, 162);
  }

  &.sivu2
  {
    background-color: rgb(255, 220, 166);

    .rastit-wrapper
    {
      ul
      {
        text-align: center;
      }

      a
      {
        display: block;
        background-color: rgb(230, 65, 74);
        cursor: pointer;
        text-align: center;
        line-height: 6em;
        color: $black;
        font-size: 1.5em;
      }
    }
  }

  &.sivu3
  {
    background-color: rgb(162, 228, 255);
  }
}

// Mosaic Row Styles

.mosaic-stress-group-1 {
  @extend .content-in-one-page.sivu1;
}
.mosaic-stress-group-2 {
  @extend .content-in-one-page.sivu2;
}
.mosaic-stress-group-3 {
  @extend .content-in-one-page.sivu3;
}
