.depress__nav__wrapper
{
  margin: 2em 0;

  .list-inline-item:not(:last-child)
  {
      margin-right: -6px;
  }

  li
  {
    margin-bottom: 3em;
  }

  .depress__nav__item
  {
    background-color: rgb(47, 166, 199);
    padding: 19px 60px;
    color: $white;
    position: relative;

    &:hover
    {
      background-color: tint(rgb(47, 166, 199), 40%);;
    }

    &.active
    {
      background-color: tint(rgb(47, 166, 199), 20%);
    }
  }

}
