%harjoitus-kortti-vakiot
{
  // Globaalit jos tarvis
  padding-top: 0.7em;
  padding-bottom: 0.7em;

  h3
  {
    text-align: center;
  }

}




// Mosaic Row Styles

.mosaic-card-stress
{
  // Stressi
  @extend %harjoitus-kortti-vakiot;

  //background-color: tint($path-stress-green, 50%);
  border: 2px solid tint($path-stress-green, 50%);

  h3
  {
    text-align: center;

    &::after
    {
      display: block;
      clear: both;
      content: "";
      position: relative;
      left: 0;
      bottom: 0;
      max-width: 20em;
      height: 1px;
      width: 50%;
      border-bottom: 2px solid tint($path-stress-green, 50%);
      margin: 0 auto;
      padding: 4px 0;
    }
  }
}

.mosaic-card-mood
{
  // Mieliala
  @extend %harjoitus-kortti-vakiot;

  //background-color: tint($path-depress-blue, 50%);
  border: 2px solid tint($path-depress-blue, 50%);

  h3
  {
    text-align: center;

    &::after
    {
      display: block;
      clear: both;
      content: "";
      position: relative;
      left: 0;
      bottom: 0;
      max-width: 20em;
      height: 1px;
      width: 50%;
      border-bottom: 2px solid tint($path-depress-blue, 50%);
      margin: 0 auto;
      padding: 4px 0;
    }
  }
}

.mosaic-card-tension
{
  // Jännitys
  @extend %harjoitus-kortti-vakiot;

  //background-color: tint($path-distress-orange, 50%);
  border: 2px solid tint($path-distress-orange, 50%);

  h3
  {
    text-align: center;

    &::after
    {
      display: block;
      clear: both;
      content: "";
      position: relative;
      left: 0;
      bottom: 0;
      max-width: 20em;
      height: 1px;
      width: 50%;
      border-bottom: 2px solid tint($path-distress-orange, 50%);
      margin: 0 auto;
      padding: 4px 0;
    }
  }
}
