



.reitti-laatikko
{
  display: block;
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-size: 1em;
  text-align: center;
  line-height: 4em;
  overflow-wrap: break-word;
  padding: 0.5em;

  a
  {
    color: $black;
  }
}

.reitti-laatikko-stressi
{
  background-color: green;
}

.reitti-laatikko-mielimaassa
{
  background-color: cyan;
}

.reitti-laatikko-jannittaako
{
  background-color: yellow;
}



.stressi-laatikko
{
  display: block;
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-size: 1em;
  text-align: center;
  line-height: 4em;
  overflow-wrap: break-word;
  padding: 0.5em;

  a
  {
    color: $black;
  }
}

.stressi-laatikko--punainen
{
  background-color: $supportpaths-distress-red;
}
