
%laatikko-grid
{
  display: block;
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-size: 1em;
  text-align: center;
  line-height: 4em;
  overflow-wrap: break-word;
  padding: 0.5em;

  a
  {
    color: $black;
  }
}


.ok-reitti-laatikko
{
  @extend %laatikko-grid;
}

.ok-reitti-laatikko-stressi
{
  background-color: $path-stress-red;
}

.ok-reitti-laatikko-mielimaassa
{
  background-color: $path-depress-blue;
}

.ok-reitti-laatikko-jannittaako
{
  background-color: $path-distress-orange;
}



.ok-stressi-laatikko
{
  @extend %laatikko-grid;
}

.ok-stressi-laatikko--punainen
{
  background-color: $path-stress-red;
}

.ok-mieliala-laatikko
{
  @extend %laatikko-grid;
}

.ok-mieliala-laatikko--sininen
{
  background-color: $path-depress-blue;
}


.ok-jannittaako-laatikko
{
  @extend %laatikko-grid;
}

.ok-jannittaako-laatikko--oranssi
{
  background-color: $path-distress-orange;
}
