<!doctype html>
<html>

<head>
  <title>Plone Theme</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
    <% for (var css in htmlWebpackPlugin.files.chunks[chunk].css) { %>
      <link rel="stylesheet" data-name="bundle-<%= chunk %>" href="<%= htmlWebpackPlugin.files.chunks[chunk].css[css] %>" />
      <% } %>
        <% } %>
</head>

<body>

<div class="container">

  <div class="row toprow">

    <div class="toprow__logos col-xs-6 col-md-6">
      <a class="navbar-brand" href="#"><img alt="Brand" src="img/jyu-logo.png" class="toprow__logos--big"></a>
      <a class="navbar-brand__mobile" href="#"><img alt="Brand" src="img/jyu-torch.png" class="toprow__logos--mobile" </a>
    </div>

    <div class="toprow__language-links col-xs-6 col-md-6">
      <ul class="list-inline list-unstyled pull-right">
        <li class="language-fi"><a href="#">Suomi</a></li>
        <li class="language-en"><a href="#">English</a></li>
        <li class="language-ge"><a href="#">German</a></li>
        <li class="login"><a href="#">Kirjaudu / Login</a></li>
      </ul>
    </div>

  </div>
  <!--toprow-->

  <div class="row">
    <div class="col-md-12">
      <nav class="navbar navbar-light">
        <ul class="nav navbar-nav pull-right">
          <li class="nav-item active">
            <a class="nav-link" href="#">LINKKI <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">LINKKI</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">LINKKI</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">LINKKI</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">LINKKI</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
<!--container-->




  <header class="container hero-area">
    <section class="hero-area--carousell">
      <div class="hero-area--carousell--title">
        <h1>Opiskelijan kompassi</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime eius ipsum, taque consectetur facilis, reiciendis quibusdam sequi harum laboriosam voluptate culpa blanditiis. Beatae iusto quidem error aspernatur, voluptate magnam, perferendis!</p>
      </div>
    </section>
  </header>


  <section class="container">
    <div class="top-content">
      <div class="top-content--left">
        CONTENT LEFT
      </div>
      <div class="top-content--right">
        CONTENT RIGHT
      </div>
    </div>
  </section>




  <footer class="container-fluid footer-bg-wrapper">



    <div class="footer-area">

      <secion class="footer-area__left-block">
        <img class="footer-area__left-block__logo" src="img/footer-logo.png" alt="Jyväskylän Yliopisto">
      </secion>

      <section class="footer-area__right-block">
        <ul class="list-unstyled">
          <li>LINKKI</li>
          <li>LINKKI</li>
          <li>LINKKI</li>
          <li>LINKKI</li>
        </ul>
        <ul class="list-unstyled">
          <li>SOME</li>
          <li>SOME</li>
          <li>SOME</li>
          <li>SOME</li>
        </ul>
      </section>
    </div>

    <section class="footer-area-bottom">
      <div class="footer-area-bottom__info">
        <p class="text-center">Jyväskylän yliopisto | Psykologian laitos</p>
      </div>
    </section>

  </footer>


  <% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
    <script data-name="bundle-<%= chunk %>" src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
    <% } %>
</body>

</html>
