<!doctype html>
<html>
<head>
  <title>Plone Theme</title>
<% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
  <% for (var css in htmlWebpackPlugin.files.chunks[chunk].css) { %>
  <link rel="stylesheet" data-name="bundle-<%= chunk %>"
        href="<%= htmlWebpackPlugin.files.chunks[chunk].css[css] %>" />
  <% } %>
<% } %>
</head>
<body>

  <h1>This is mock up test </h1>

<% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
<script data-name="bundle-<%= chunk %>"
        src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
<% } %>
</body>
</html>
