<!doctype html>
<html>

<head>
	<title>Plone Theme</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
		<% for (var css in htmlWebpackPlugin.files.chunks[chunk].css) { %>
			<link rel="stylesheet" data-name="bundle-<%= chunk %>" href="<%= htmlWebpackPlugin.files.chunks[chunk].css[css] %>" />
			<% } %>
				<% } %>
</head>

<body>

<!-- Top and bottom navigation area -->
	<!-- Padding 0 removes left and right padding from container-fluid element -->
<div class="container-fluid shadow-border-bottom">
	<div class="container">
		<div class="row toprow">
			<div class="toprow__logos col-xs-4 col-md-6">
				<a class="navbar-brand" href="#"><img alt="Brand" src="img/jyu-logo.png" class="toprow__logos--big"></a>
				<a class="navbar-brand__mobile" href="#"><img alt="Brand" src="img/jyu-torch.png" class="toprow__logos--mobile" </a>
			</div>
			<div class="toprow__language-links col-xs-8 col-md-6">
				<ul class="list-inline list-unstyled pull-right">
					<li class="list-inline-item language-fi"><a href="#">Suomi</a></li>
					<li class="list-inline-item language-en"><a href="#">English</a></li>
					<li class="list-inline-item language-ge"><a href="#">German</a></li>
					<br>
					<li class="list-inline-item login"><a href="#">Kirjaudu | Login | Anmeldung</a></li>
				</ul>
			</div>
		</div>
		<!--toprow-->
		<div class="row bottomrow">
			<div class="col-md-12">
				<nav class="navbar navbar-light">

					<button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#CollapsingNavbar">
							<span class="bottomrow__hamburger">&#9776;</span>
					</button>

					<ul class="nav navbar-nav pull-right collapse navbar-toggleable-xs" id="CollapsingNavbar">
						<li class="nav-item active">
							<a class="nav-link" href="#">LINKKI <span class="sr-only">(current)</span></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">LINKKI</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">LINKKI</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">LINKKI</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">LINKKI</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</div>
<!--container-->



<!-- hero-area carousel -->
<header class="container hero-area">
	<div class="hero-area__carousel-wrapper">
		<div class="hero-area__carousel-wrapper__slide-row-1">
			<div class="hero-area__carousel-wrapper__slide-row-1__bg">
				<div class="hero-area__carousel-wrapper__slide-row-1__bg__title">
					<h1>SLIDE 1</h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
						dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				</div>
			</div>
		</div>
		<div class="hero-area__carousel-wrapper__slide-row-2">
			<div class="hero-area__carousel-wrapper__slide-row-2__bg">
				<div class="hero-area__carousel-wrapper__slide-row-2__bg__title">
					<h1>SLIDE 2</h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
						dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				</div>
			</div>
		</div>
		<div class="hero-area__carousel-wrapper__slide-row-3">
			<div class="hero-area__carousel-wrapper__slide-row-3__bg">
				<div class="hero-area__carousel-wrapper__slide-row-3__bg__title">
					<h1>SLIDE 3</h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
						dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				</div>
			</div>
		</div>
		<div class="hero-area__carousel-wrapper__slide-row-4">
			<div class="hero-area__carousel-wrapper__slide-row-4__bg">
				<div class="hero-area__carousel-wrapper__slide-row-4__bg__title">
					<h1>SLIDE 4</h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
						dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				</div>
			</div>
		</div>
	</div>
</header>
<!-- hero-area -->





<!-- Breadcrumbs section, you can find scss rules from _breadcrumbs.scss partial -->
<section class="container breadcrumbs">
	<div class="breadcrumbs__row">
		<div class="breadcrumbs__row__column">
			<a href="#"><p>Leivänmurut > Pääsivu > Joku muusivu > Ja joku > Toinen polku</p></a>
		</div>
	</div>
</section>
<!-- breadcrumbs -->







<div class="container m-t-2">
	<div class="row">
		<div class="col-md-12">
			<h1>TUKIREITIT</h1>
		</div>
	</div>
	<div class="row m-t-2">
		<div class="col-md-4">
			<div class="ahdistus">
				<img src="img/tukireitit/Ahdistus.png" alt="" />
				<p>Ahdistus</p>
			</div>
		</div>
		<div class="col-md-4">
			<img src="img/tukireitit/Mieliala.png" alt="" />
			<p>Mieliala</p>
		</div>
		<div class="col-md-4">
			<img src="img/tukireitit/Stressi.png" alt="" />
			<p>Stressi</p>
		</div>
	</div>
	<div class="row m-t-2">
		<div class="col-md-4">
			<img src="img/tukireitit/Ihmissuhde.png" alt="" />
			<p>Ihmissuhde</p>
		</div>
		<div class="col-md-4">
			<img src="img/tukireitit/Stressi.png" alt="" />
			<p>Muu</p>
		</div>
		<div class="col-md-4">
			<img src="img/tukireitit/Mieliala.png" alt="" />
			<p>Muu</p>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<hr>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-12 m-t-2">
			<h3>Valitsetukireittisi ylläolevista kuvakkeista</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>
	</div>
</div>



<!-- Main content and paths area -->
<section class="container m-y-3">
	<div class="top-content">
		<div class="top-content-left">
			<h1>POLUT JA TEHTÄVÄT</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, rerum, optio? Vel debitis possimus adipisci suscipit aliquam perferendis obcaecati impedit, fugiat quis numquam! Maxime laboriosam sit ut repudiandae dolores suscipit.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, rerum, optio? Vel debitis possimus adipisci suscipit aliquam perferendis obcaecati impedit, fugiat quis numquam! Maxime laboriosam sit ut repudiandae dolores suscipit.</p>
		</div>
		<div class="top-content-right">
			<img class="img-fluid hidden-sm-down"src="http://placehold.it/550x350/aeb7e8/00000" alt="">
		</div>
	</div>
</section>
<!-- top-content -->
















<!-- Paths area -->
<section class="container paths">

	<!-- Stressi path top row -->
	<div class="paths__title__row">
		<div class="paths__title__row__column__left">
			<p>Stressi-reitti on 5 teeman ohjelma stressin käsittelyyn</p>
		</div>
		<div class="paths__title__row__column__right"></div>
	</div>

	<!-- Stressi path bottom row -->
	<div class="paths__row__stress">
		<div class="paths__row__stress__grid">
			<div class="header">
				<div class="stress__header__circle">
					<h3 class="stress__header__circle__title">Stressi</h3>
				</div>
			</div>
			<div class="task">
				<h3>1</h3></div>
			<div class="task">
				<h3>2</h3></div>
			<div class="task">
				<h3>3</h3></div>
			<div class="task">
				<h3>4</h3></div>
			<div class="task">
				<h3>5</h3></div>
			<div class="task--completed text-xs-center"><img src="img/tasks/Completed.png" alt="" /></div>
		</div>
	</div>




	<!-- Mieli maassa path top row -->
	<div class="paths__title__row">
		<div class="paths__title__row__column__left">
			<p>Reitti sinulle, joka tunnet tällä hetkellä alakuloa, mielekkyyden puutetta ja tyytymättömyyttä elämään</p>
		</div>
		<div class="paths__title__row__column__right"></div>
	</div>

	<!-- Mieli maassa path bottom row -->
	<div class="paths__row__depress">
		<div class="paths__row__depress__grid">
			<div class="header">
				<div class="depress__header__circle">
					<h3 class="depress__header__circle__title">Mieli<br>maassa</h3>
				</div>
			</div>
			<div class="task">
				<h3>1</h3></div>
			<div class="task">
				<h3>2</h3></div>
			<div class="task">
				<h3>3</h3></div>
			<div class="task">
				<h3>4</h3></div>
			<div class="task">
				<h3>5</h3></div>
			<div class="task--completed text-xs-center"><img src="img/tasks/Completed.png" alt="" /></div>
		</div>
	</div>



	<!-- Ahdistaako path top row -->
	<div class="paths__title__row">
		<div class="paths__title__row__column__left">
			<p>Viiden viikon ohjelma jännittyneisyyden ja ahdistuksen käsittelyyn.</p>
		</div>
		<div class="paths__title__row__column__right"></div>
	</div>

	<!-- Mieli maassa path bottom row -->
	<div class="paths__row__distress">
		<div class="paths__row__distress__grid">
			<div class="header">
				<div class="distress__header__circle">
					<h3 class="distress__header__circle__title">Ahdis-<br>taako</h3>
				</div>
			</div>
			<div class="task">
				<h3>1</h3></div>
			<div class="task">
				<h3>2</h3></div>
			<div class="task">
				<h3>3</h3></div>
			<div class="task">
				<h3>4</h3></div>
			<div class="task">
				<h3>5</h3></div>
			<div class="task--completed text-xs-center"><img src="img/tasks/Completed.png" alt="" /></div>
		</div>
	</div>




</section>
<!-- paths -->

<!-- Footer area	-->
<footer class="container-fluid footer-bg-wrapper">
	<div class="container">
		<section class="footer__row">
			<div class="footer__row__block">
				<div class="footer__row__block--links">
					<ul class="list-unstyled">
						<li><a href="#">OTA YHTEYTTÄ</a></li>
						<li><a href="#">JÄSENET</a></li>
						<li><a href="#">LISÄTIETOJA</a></li>
						<li><a href="#">LINKKI</a></li>
						<li><a href="#">LINKKI</a></li>
						<li><a href="#">LINKKI</a></li>
					</ul>
				</div>
			</div>
			<div class="footer__row__block">
				<div class="footer__row__block--logo">
					<img class="img-fluid text-xs-center" src="img/footer-logo.png" alt="Jyväskylän Yliopisto">
					<p class="text-xs-center">Yhteistyössä Psykologian laitos</p>
				</div>
			</div>
			<div class="footer__row__block">
				<div class="footer__row__block--some">
					<ul class="list-inline list-unstyled pull-right">
						<li class="list-inline-item"><img src="img/some-icons/facebook.png" alt="" /></li>
						<li class="list-inline-item"><img src="img/some-icons/twitter.png" alt="" /></li>
						<li class="list-inline-item"><img src="img/some-icons/linkedin.png" alt="" /></li>
						<li class="list-inline-item"><img src="img/some-icons/instagram.png" alt="" /></li>
						<li class="list-inline-item"><img src="img/some-icons/youtube.png" alt="" /></li>
					</ul>
				</div>
			</div>
		</section>
	</div>
</footer>
<!-- footer-bg-wrapper -->


<% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
	<script data-name="bundle-<%= chunk %>" src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
<% } %>


</body>

</html>
