<!doctype html>
<html>

<head>
  <title>Plone Theme</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
  <% if (htmlWebpackPlugin.files.chunks[chunk].css[0]) { %>
  <link rel="stylesheet" data-name="bundle-<%= chunk %>" href="<%= htmlWebpackPlugin.files.chunks[chunk].css[0] %>" />
  <% }} %>
</head>

<body>



<!-- Top and bottom navigation area -->
<!-- You can find navigation-area scss rules in _navigation-area.scss partial -->
  <!-- Padding 0 removes left and right padding from container-fluid element -->
<div class="container-fluid shadow-border-bottom navigation-area">
  <div class="container">
    <div class="row toprow">
      <div class="toprow__logos col-xs-4 col-md-6">
        <a class="navbar-brand" href="#"><img alt="Brand" src="img/jyu-logo.png" class="toprow__logos--big"></a>
        <a class="navbar-brand__mobile" href="#"><img alt="Brand" src="img/jyu-torch.png" class="toprow__logos--mobile" </a>
      </div>
      <div class="toprow__language-links col-xs-8 col-md-6">
        <ul class="list-inline list-unstyled pull-right">
          <li class="list-inline-item language-fi"><a href="#">Suomi</a></li>
          <li class="list-inline-item language-en"><a href="#">English</a></li>
          <li class="list-inline-item language-ge"><a href="#">German</a></li>
          <br>
          <li class="list-inline-item login"><a href="#">Kirjaudu | Login | Anmeldung</a></li>
        </ul>
      </div>
    </div>
    <!--toprow-->
    <div class="row bottomrow">
      <div class="col-md-12">
        <nav class="navbar navbar-light">

          <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#CollapsingNavbar">
              <span class="bottomrow__hamburger">&#9776;</span>
          </button>

          <ul class="nav navbar-nav pull-right collapse navbar-toggleable-xs" id="CollapsingNavbar">
            <li class="nav-item active">
              <a class="nav-link" href="#">LINKKI <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">LINKKI</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">LINKKI</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">LINKKI</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">LINKKI</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
<!--container-->


<!-- Breadcrumbs section, you can find scss rules from _breadcrumbs.scss partial -->
<section class="container breadcrumbs">
  <div class="breadcrumbs__row">
    <div class="breadcrumbs__row__column">
      <a href="#"><p>Leivänmurut > Pääsivu > Joku muusivu > Ja joku > Toinen polku</p></a>
    </div>
  </div>
</section>
<!-- breadcrumbs -->



<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>Stressi reitti</h2>
      <ul class="stress__nav__wrapper list-inline list-unstyled">
        <li class="list-inline-item"><a class="stress__nav__item active" href="#">TEHTÄVÄ x</a></li>
        <li class="list-inline-item"><a class="stress__nav__item" href="#">TEHTÄVÄ x</a></li>
        <li class="list-inline-item"><a class="stress__nav__item" href="#">TEHTÄVÄ x</a></li>
        <li class="list-inline-item"><a class="stress__nav__item" href="#">TEHTÄVÄ x</a></li>
        <li class="list-inline-item"><a class="stress__nav__item" href="#">TEHTÄVÄ x</a></li>
      </ul>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>Mieli maassa reitti</h2>
      <ul class="distress__nav__wrapper list-inline list-unstyled">
        <li class="list-inline-item"><a class="distress__nav__item active" href="#">TEHTÄVÄ x</a></li>
        <li class="list-inline-item"><a class="distress__nav__item" href="#">TEHTÄVÄ x</a></li>
        <li class="list-inline-item"><a class="distress__nav__item" href="#">TEHTÄVÄ x</a></li>
        <li class="list-inline-item"><a class="distress__nav__item" href="#">TEHTÄVÄ x</a></li>
        <li class="list-inline-item"><a class="distress__nav__item" href="#">TEHTÄVÄ x</a></li>
      </ul>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>Jännittääkö ahdistaako reitti</h2>
      <ul class="depress__nav__wrapper list-inline list-unstyled">
        <li class="list-inline-item"><a class="depress__nav__item active" href="#">TEHTÄVÄ x</a></li>
        <li class="list-inline-item"><a class="depress__nav__item" href="#">TEHTÄVÄ x</a></li>
        <li class="list-inline-item"><a class="depress__nav__item" href="#">TEHTÄVÄ x</a></li>
        <li class="list-inline-item"><a class="depress__nav__item" href="#">TEHTÄVÄ x</a></li>
        <li class="list-inline-item"><a class="depress__nav__item" href="#">TEHTÄVÄ x</a></li>
      </ul>
    </div>
  </div>
</div>


<div class="container etusivu">
  <div class="row">
    <div class="col-md-12">
      <h2>Opiskelijan kompassi ETUSIVU</h2>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h2>Tervetuloa Opiskelijan kompassiin!</h2>
      <p>Opiskelijan kompassin tarkoituksena on tukea Jyväskylän yliopiston opiskelijoita heidän opinnoissaan ja elämässään. Kompassin tavoitteena on edistää opiskelijoiden hyvinvointia ja itsetuntemusta sekä ehkäistä stressiä, ahdistusta ja masennusta. Opiskelijan kompassi antaa eväitä ja työkaluja jaksamiseen ja erilaisiin ongelmiin, joita opiskelija opintojensa aikana kohtaa.
      Yliopisto-opiskelijoiden terveystutkimuksen mukaan monet opiskelijat saattavat kokea ongelmia liittyen mm. stressiin ja ajanhallintaan, liialliseen jännittyneisyyteen tai ahdistuneisuuteen, mielialaan, ihmissuhteisiin, itsetuntoon ja opiskelutaitoihin. Samoilla opiskelijoilla on myös sisäisiä voimavaroja ja käsittelykykyä, joita Opiskelijan Kompassi haluaa nostaa esiin ja vahvistaa. Tällä hetkellä olemmekin valinneet Opiskelijan kompassin teemoiksi stressin, mielialan ja ahdistuksen, sillä ne vaikuttavat usein tuntuvan esteiltä oman hyvinvoinnin tiellä. Kompassin avulla on mahdollista oppia uudenlainen suhtautumistapa omiin ajatuksiin, tunteisiin ja tuntemuksiin, jotka liittyvät näihin teemoihin ja hyvinvointiin yleisesti. Kompassi tarjoaa konkreettisia työkaluja jokapäiväisen elämän havainnoimiseen. Kompassin pääasiallinen tavoite on johdattaa itselle tärkeiden, olennaisten ja merkityksellisten asioiden äärelle.
      Opiskelijan kompassi tarjoaa tukeaan myös, mikäli haluat pohtia tavoitteitasi, saada apua ajankäyttöösi tai omaan jaksamiseesi liittyviin asioihin, kuten motivaatio-ongelmiin, tenttipelkoon, opiskelutaitoihin, tutkielma-ahdistukseen, esiintymispelkoon jne. Täältä löydät materiaalia, mikäli haluat opetella taitoja, jotka voivat auttaa sinua saamaan enemmän irti arjestasi.
      Kompassin tarkoituksena on auttaa Sinua saamaan uutta näkökulmaa tilanteeseesi ja antaa sinulle välineitä auttaa itse itseäsi. Toivomme, että tulet löytämään asioita, jotka ovat tärkeitä juuri Sinulle, ja jotka auttavat jaksamaan paremmin opinnoissasi ja elämässäsi.</p>
      <h2>Miten suunnistan Opiskelijan Kompassissa?</h2>
      <p>Opiskelijan Kompassi (OK) on hyvinvointi- ja elämäntaito-ohjelma, joka antaa eväitä ja työkaluja jaksamiseen ja erilaisiin ongelmiin, joita opiskelija opintojensa aikana kohtaa. Tavallisimpia opiskelijoiden kokemia ongelmia tutkimuksen mukaan ovat mm. stressi, alakulo, ahdistus ja jännittäminen, jotka voivat vaikuttaa negatiivisesti omaan hyvinvointiin. Kompassin tarkoituksena on tarjota toisenlaista suhtautumista näihin ongelmiin ja lisätä psykologista joustavuutta.
      Kuhunkin näistä ongelma-alueista olemme kehittäneet oman hyvinvointiohjelman, jota kutsumme "reitiksi".</p>
      <h3>Valitse yksi reitti</h3>
      <p>Suosittelemme, että seuraat yhtä reittiä kerrallaan. Kaikkien reittien sisältö koostuu samoista periaatteista, jotka pohjautuvat hyvin tutkittuun arvo- ja mindfulness-menetelmään. Saat eniten hyötyä ohjelmasta jos valitset vain yhden reitin, joka sinun mielestäsi on tällä hetkellä tärkein:</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="reitti__laatikko punainen">
          <a href="#">MIELI MAASSA?</a>
      </div>
    </div>
    <div class="col-md-6">
      <div class="reitti__laatikko vihrea">
          <a href="#">AHDISTAAKO?</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="reitti__laatikko sininen">
          <a href="#">STRESSAAKO?</a>
      </div>
    </div>
    <div class="col-md-6">
      <div class="reitti__laatikko neutraali">
          <a href="#">JOKU MUU REITTI KOSKA 4</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h2>Mistä Opiskelijan Kompassi koostuu?</h2>
      <p>Jokaisella reitillä on 5-6 teemaa tai "rastia". Kutakin teemaa voit käsitellä oman aikataulusi mukaan tai esim. yhden teeman viikoittain. Suosittelemme kuitenkin, että seuraat teemoja siinä järjestyksessä kuin ne on laadittu.
        Mitä Opiskelijan Kompassi tarjoaa?Jokaisella viikolla saat uusia näkökulmia avaavaa luettavaa ja harjoituksia. Harjoitukset voivat olla esim. pohdintatehtäviä tai ne voivat olla mindfulness- tai rentoutusharjoituksia. Harjoitukset ovat kuunneltavissa, luettavissa ja joskus myös katseltavissa videoina. Voit varata ohjelmaa varten esim. vihkon, johon teet ohjelman harjoitukset ja kirjaat tuntemuksia ja ajatuksia, joita sinulle herää matkan varrella.
        Opiskelijan Kompassi auttaa Sinua tarkastelemaan itseäsi ja elämääsi  näkökulmasta,  joka saattaa poiketa siitä mihin olet ehkä tottunut. OK-ohjelman tarkoituksena ei kuitenkaan ole pelkästään antaa tietoa. On tärkeää, että myös aktiivisesti toteutat käytännössä niitä asioita, jota opit jokaisen viikon aikana. Osa harjoituksista voi tuntua haastavilta tai oudoiltakin, mutta on kuitenkin hyvin tärkeää, että teet tehtävät parhaan kykysi mukaan. Ei ole oikeaa tai väärää tapaa tehdä harjoituksia, vaan tärkeää on, että sovellat harjoituksia omaan arkeesi.</p>
      <h2>Miten saat Kompassista parhaan hyödyn?</h2>
      <p>Pyydämme Sinulta avointa, kokeilevaa mieltä. Kompassin sisältö ei välttämättä tunnu kevyeltä - se vaatii sitoutumista asioiden kanssa työskentelyyn ja omakohtaista sulattelua. Anna itsellesi riittävästi aikaa Kompassin kanssa. Sinä päätät, onko kokeilemastasi ohjelmasta hyötyä ja haluatko soveltaa ohjelman tarjoamia työkaluja myös jatkossa. Opiskelijan Kompassi perustuu tutkimustietoon, joten ajankäyttö näiden asioiden parissa todella kannattaa. Kompassin avulla voit saada uudenlaisia keinoja selviytyä opiskelijaelämän haasteista.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h2>Miten Opiskelijan Kompassia voi käyttää?</h2>
      <p>Tällä hetkellä voit käyttää Kompassia itsenäisesti ja navigoida sivuston ylälaidassa olevan valikon kautta. Ohjelma on myös tarjolla tuen kanssa.</p>
      <h3>Kaipaatko henkilökohtaista tukea?</h3>
      <h3>Haluatko keskustella tilanteestasi jonkun kanssa?</h3>
      <p>NYT on mahdollisuus myös saada ilmaista henkilökohtaista tukea, joka sisältää 3 yksilöllistä tapaamista kasvokkain hyvinvointivalmentajan kanssa.</p>
      <p>Tämä vaihtoehto sopii sinulle hyvin jos koet, että haluat parantaa hyvinvointiasi, muttet tiedä mistä aloittaa. Ohjelma on laadittu niin, että voit seurata sitä itsenäisesti seuraamalla suunniteltua reittiä. Henkilökohtaisen kontaktin ja erityisesti kasvokkaisten tapaamisten tarkoitus on antaa mahdollisuus keskustella ohjelman teemojen ohella myös mistä tahansa aiheesta, jonka koet tärkeäksi tai jopa ongelmalliseksi tällä hetkellä elämässäsi. Henkilökohtainen tuki voi auttaa selkiyttämään asioita, jotka voivat esimerkiksi olla esteenä hyvinvoinnillesi yleisesti, haitata opintojesi sujumista tai aiheuttaa ongelmia ihmissuhteissa. Henkilökohtainen tuki voi myös auttaa pitämään kiinni päätöksestäsi toimia hyvinvointisi eteen ja pitää käynnissä ilmoittautumalla aloittamasi prosessin.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
          <div class="card-block">
            <h4 class="card-title">SEURAAVA JAKSO SYKSYLLÄ!</h4>
            <p class="card-text">Sinulla on mahdollisuus osallistua ohjelmaan, joka sisältää verkkojakson lisäksi
            henkilökohtaisia tapaamisia hyvinvointivalmentajan kanssa!
            Jos olet kiinnostunut, ota yhteyttä:</p>
            <a href="#" class="">opiskelijankompassi@jyu.fi</a>
            <a href="#" class="">panajiota.rasanen@jyu.fi </a>
          </div>
      </div>
    </div>
  </div>
</div>




<div class="container rastit-nav">
  <div class="row">
    <div class="col-md-12">
      <h1>Stressi Reitin navigaatio laatikot </h1>
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3 rastit-nav__box stressi"><a href="#">RASTI XX</a></div>
    <div class="col-md-3 rastit-nav__box stressi"><a href="#">RASTI XX</a></div>
    <div class="col-md-3 rastit-nav__box stressi"><a href="#">RASTI XX</a></div>
    <div class="col-md-3 rastit-nav__box stressi"><a href="#">RASTI XX</a></div>

    <div class="col-md-3 rastit-nav__box stressi"><a href="#">RASTI XX</a></div>
    <div class="col-md-3 rastit-nav__box stressi"><a href="#">RASTI XX</a></div>
  </div>
</div>

<div class="container rastit-nav">
  <div class="row">
    <div class="col-md-12">
      <h1>Mieli maassa Reitin navigaatio laatikot </h1>
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3 rastit-nav__box mielimaassa"><a href="#">RASTI XX</a></div>
    <div class="col-md-3 rastit-nav__box mielimaassa"><a href="#">RASTI XX</a></div>
    <div class="col-md-3 rastit-nav__box mielimaassa"><a href="#">RASTI XX</a></div>
    <div class="col-md-3 rastit-nav__box mielimaassa"><a href="#">RASTI XX</a></div>

    <div class="col-md-3 rastit-nav__box mielimaassa"><a href="#">RASTI XX</a></div>
    <div class="col-md-3 rastit-nav__box mielimaassa"><a href="#">RASTI XX</a></div>
  </div>
</div>


<div class="container rastit-nav">
  <div class="row">
    <div class="col-md-12">
      <h1>Ahdistaako Reitin navigaatio laatikot </h1>
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3 rastit-nav__box ahdistaako"><a href="#">RASTI XX</a></div>
    <div class="col-md-3 rastit-nav__box ahdistaako"><a href="#">RASTI XX</a></div>
    <div class="col-md-3 rastit-nav__box ahdistaako"><a href="#">RASTI XX</a></div>
    <div class="col-md-3 rastit-nav__box ahdistaako"><a href="#">RASTI XX</a></div>

    <div class="col-md-3 rastit-nav__box ahdistaako"><a href="#">RASTI XX</a></div>
    <div class="col-md-3 rastit-nav__box ahdistaako"><a href="#">RASTI XX</a></div>
  </div>
</div>



<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>TERVETULOA OPISKELIJAN KOMPASSIN PARIIN!</h1>
      <p>Kirjaudu sisään omalla JY:n tunnuksellasi:</p>
      <form class="m-t-2 m-b-2" action="index.html" method="post">

        <div class="form-group row">
          <label for="kayttajatunnus" class="col-sm-2 form-control-label">Kayttäjätunnus</label>
          <div class="col-sm-4">
            <input type="email" class="form-control" id="kayttajatunnus" placeholder="Käyttäjätunnus">
          </div>
        </div>


        <div class="form-group row">
          <label for="salasana" class="col-sm-2 form-control-label">Salasana</label>
          <div class="col-sm-4">
            <input type="password" class="form-control" id="salasana" placeholder="Salasana">
          </div>
        </div>


        <div class="form-group row">
         <div class="col-sm-offset-2 col-sm-10">
           <button type="submit" class="btn btn-primary">Kirjaudu sisään</button>
         </div>
       </div>

      </form>
        <p>Mikäli et pääse kirjautumaan Opiskelijan Kompassiin tai kohtaat muita teknisiä ongelmia, lähetä sähköpostia osoitteeseen: <a href="#">opiskelijankompassi@jyu.fi</a></p>
        <p>Opiskelijan kompassi on hyvinvointi- ja elämäntaito-ohjelma jonka tarkoituksena on tukea Jyväskylän yliopiston opiskelijoita heidän opinnoissaan. Kompassin tavoitteena on edistää opiskelijoiden hyvinvointia ja itsetuntemusta sekä ehkäistä stressiä, ahdistusta ja alakuloa. Opiskelijan kompassi antaa eväitä ja työkaluja jaksamiseen ja erilaisiin ongelmiin, joita opiskelija opintojensa aikana kohtaa.</p>
        <p>Kompassin tarkoituksena on auttaa Sinua saamaan uutta näkökulmaa tilanteeseesi ja antaa sinulle välineitä auttaa itse itseäsi. Toivomme, että tulet löytämään asioita, jotka ovat tärkeitä juuri Sinulle, ja jotka auttavat jaksamaan paremmin opinnoissasi ja elämässäsi.</p>
        <hr>
    </div>
  </div>
</div>


<div class="container content-in-one-page sivu1">
  <div class="row">
    <div class="col-md-12">
      <h1>Stressit sivun ONE PAGE template</h1>
      <hr>
    </div>
  </div>

  <div class="row m-b-2">
    <div class="col-md-12">
      <ul class="list-inline list-unstyled">
        <li class="list-inline-item"><a href="#">Ankkuri 1</a></li>
        <li class="list-inline-item"><a href="#">Ankkuri 2</a></li>
        <li class="list-inline-item"><a href="#">Ankkuri 3</a></li>
      </ul>
      <h1>MITEN KÄSITTELEN STRESSIÄ?</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <h2>STRESSISTÄ YLEENSÄ</h2>
      <p>Kiire ja paineiden aiheuttama stressi koskettaa yhä useampaa opiskelijaa. Opiskeluaikana ihminen käy läpi monia hyvin suuria muutoksia, jotka omalta osaltaan aiheuttavat stressiä. Opiskelu on vaativaa ja edellyttää äärimmäistä keskittymistä. Opiskelijat myös asettavat itselleen kovempia tavoitteita kuin olisi välttämätöntä. Lisäksi opiskelijoiden lisääntynyt osa-aikatyö viivästyttää opintoja, mikä puolestaan johtaa stressin lisääntymiseen. Pitkään jatkunut stressi vaikeuttaa opiskelua ja voi johtaa masennukseen, unettomuuteen ja altistaa monille muille mielenterveyden häiriöille.</p>
      <p>Yritykset päästä pahasta olosta eroon johtavat helposti kamppailuun omien tunteiden ja ajatusten kanssa ja synnyttävät uutta pahaa oloa. Aoittainen paha olo ja ongelmat kuuluvat kuitenkin elämään eikä niistä tarvitse päästä kokonaan eroon. Oman hyvinvoinnin kannalta parempi toimintamalli on muuttaa näkökulmaa stressaaviin ajatuksiin ja tunteisiin.</p>
    </div>
    <div class="col-md-6">
      <h2>TUNNISTA STRESSIREAKTIOSI</h2>
      <p>Reagoimme stressiin paitsi mielellämme myös kehollamme. Jos osaamme kuunnella itseämme, tunnistamme erilaisia stressin oireita: väsymystä, alakuloisuutta, välinpitämättömyyttä ja ilottomuutta. Joku reagoi kehollaan ja kokee erilaisia somaattisia oireita, kuten päänsärkyä, vatsakipua, hikoilua ja sydämentykytystä. Toisesta taas mikään ei tunnu miltään. Katso viereisestä sarakkeesta, miten stressireaktiot voivat ilmetä.</p>
      <img src="http://placekitten.com/g/500/300" alt="">
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <h2 class="text-uppercase">Tunnista tapasi reagoida stressiin harjoitus</h2>
      <p>Reagoimme stressiin paitsi mielellämme myös kehollamme. Jos osaamme kuunnella itseämme, tunnistamme erilaisia stressin oireita: väsymystä, alakuloisuutta, välinpitämättömyyttä ja ilottomuutta. Joku reagoi kehollaan ja kokee erilaisia somaattisia oireita, kuten päänsärkyä, vatsakipua, hikoilua ja sydämentykytystä. Toisesta taas mikään ei tunnu miltään. Katso viereisestä sarakkeesta, miten stressireaktiot voivat ilmetä.</p>
      <img src="http://placekitten.com/g/400/300" alt="">
    </div>
    <div class="col-md-6">
      <h2 class="text-uppercase">Mitä keinoja olet käyttänyt hallitaksesi stressiä?</h2>
      <p>Tunnistatko omat tapasi reagoida stressiin? Reagoitko stressiin enemmän mielellä vai keholla? On tärkeää oppia huomaamaan omat stressireaktionsa, sillä se voi auttaa stressin käsittelyssä. Havainnoi stressin merkkejä mielessäsi ja kehossasi parin päivän ajan ja kirjaa ne ylös.  Fyysiset oireet (esim. päänsärky tai vatsakivut) on helpompi havaita, mutta huomaatko myös ajatuksiin ja tunteisiin liittyviä merkkejä stressistä?</p>
      <p>Kuinka stressaantunut olet tällä hetkellä? Arvioi asteikolla 1-10, kuinka stressaantuneeksi tunnet itsesi tällä hetkellä?</p>
      <p>(1 = En lainkaan stressaantunut  10 = Erittäin stressaantunut)</p>
      <p>Esimerkkitapauksemme Niko halusi stressaantuneena vain antaa olla ja tehdä jotain, mikä ei vaadi ajattelua tai keskittymistä. Tämä kuitenkin aiheutti ongelmia ihmissuhteissa. Lisäksi Niko oli kärsinyt jo jonkin aikaa nukkumisvaikeuksista.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <h2 class="text-uppercase">Mitä keinoja olet käyttänyt hallitaksesi stressiä?</h2>
      <p>Stressin hallintaan voimme käyttää monenlaisia keinoja. Toiset keinot ovat toimivia, kun taas toiset saattavat itse asiassa pitää ongelmaa yllä tai jopa pahentaa tilannetta. Sen vuoksi on hyvä kartoittaa ne keinot, joita olet käyttänyt ja pohtia sitä, ovatko ne auttaneet sinua käsittelemään paremmin stressiäsi. Jos eivät, kannattaa ehkä kokeilla uudenlaisia tapoja toimia.</p>
      <p>Tavallisia keinoja, joita ihmiset yleensä käyttävät stressin käsittelyyn, ovat hankalien ajatusten tai tunteiden torjuminen tai tukahduttaminen tai niiden tilanteiden välttäminen, jotka aiheuttavat epämiellyttäviä tunteita ja ajatuksia.</p>
      <p>Käytännössä tämä voi tarkoittaa sitä, että stressaat ja jännität jo etukäteen jännittävää tilannetta, esim. opintoihisi kuuluvan esityksen pitämistä, niin että yrität olla ajattelematta asiaa tai yrität torjua ajatukset esityksen pitämisestä. Voi jopa olla niin, että vältät ja lykkäät esityksen pitoa keksimällä jonkin tekosyyn, esim. ilmoitat olevasi sairas, jolloin esityksen pitäminen siirtyy.</p>
      <p>Varsin usein hyödynnetty keino on esim. alkoholin käyttö, mikä turruttaa päässä pyörivät ajatukset. Tavallista on lisäksi keskittyminen johonkin muuhun toimintaan (esim. harrastus tai television katselu), mikä puolestaan saa unohtamaan huolta aiheuttavat ajatukset. Harrastukset ja television katselu voivat monesti olla kelpo keino käsitellä stressiä, mutta niissä piilee myös vaaransa: ne saattavat kyllä auttaa unohtamaan huolet hetkeksi, mutta häiritsevät ajatukset ilmaantuvat uudelleen jonkin ajan kuluttua ja voivat aiheuttaa esim. nukkumisongelmia.</p>
      <p>Esimerkkitapauksemme Niko halusi stressaantuneena vain antaa olla ja tehdä jotain, mikä ei vaadi ajattelua tai keskittymistä. Tämä kuitenkin aiheutti ongelmia ihmissuhteissa. Lisäksi Niko oli kärsinyt jo jonkin aikaa nukkumisvaikeuksista.</p>
    </div>
    <div class="col-md-6">
      <h2 class="text-uppercase">Stressintunteita vastaan kamppailu vain pahentaa stressiä</h2>
      <p>Mitä enemmän pyristelet tunteitasi vastaan, sitä enemmän luultavasti koet niitä. Meillä on tunteita, hyviä ja huonoja, halusimmepa tai emme. Ja tunteemme ovat sellaisia kuin ovat, ne eivät ole sen paremmin vääriä kuin oikeita, mutta ne voivat olla häiritsevän voimakkaita ja saattavat hallita elämäämme. Sinusta voi tuntua, että sinussa tai tunteissasi on jotakin vikaa, mutta on aivan normaalia kokea kaikenlaisia tunteita. Tunteita tai ajatuksia ei voi pyyhkiä pois tai estää. Eikä sitä pidä yrittääkään, sillä paradoksaalista kyllä, sinun tuleekin tehdä itse asiassa juuri päin vastoin: kokea nuo tunteet, jos haluat niistä eroon.</p>
      <p>Tunteet, niin myönteiset kuin kielteisetkin, ovat kuin meren aallot. Ne tulevat, saavuttavat huippunsa ja heikkenevät taas… Meidän on hyvä kyetä surffaamaan tunteiden aallonharjalla, kokemalla ja myötäilemällä niitä, asettumalla aaltojen varaan.</p>
      <p>Hyväksyminen on muutoksen edellytys. Hyväksyminen ilman että pyrkii muuttamaan asioita voi, hassua kyllä, johtaa siihen, että olomme helpottuu. Vertaa tilannetta siihen, että olet lähdössä piknikille kauniina kesäpäivänä. Aurinko paistaa pilvettömältä taivaalta ja tunnet olosi mitä parhaimmaksi. Kun olet saanut levitettyä viltin nurmikolle ja avattua kuohuviinipullon, havaitsetkin, että ensimmäiset sadepisarat putoavat poskellesi. Mitä teet tuolloin? Voit valita, alatko sättiä säätä ja kiukutella sitä vastaan ja pilata näin itsesi ja muiden piknikin. Vai hyväksytkö sateen tosiasiana, jota ei voi muuttaa, ja keksit sen sijaan jotain muuta hauskaa tekemistä? Me voimme valita sen, miten suhtaudumme asioihin.</p>
    </div>
  </div>
</div>

<div class="container content-in-one-page sivu2">
  <div class="row no-margin--top">
    <div class="col-md-12">
      <h1>STRESSI REITTI</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <h2>Miksi muuttaa suuntaa ?</h2>
      <p>Sinulla saattaa olla ajatus, että kun pääset eroon stressistä, voit alkaa elää elämääsi siten kun haluat. Olet ehkä yrittänyt ratkaista ongelmiasi monin eri tavoin ja huomannut, ettei Sinulla ole taikasauvaa, jolla saisit stressisi tai muut ongelmasi katoamaan. Tilannettasi voisi tavallaan verrata kuopan kaivamiseen:</p>
    </div>
    <div class="col-md-6">
      <h2>VERTAUSKUVA - IHMINEN KUOPASSA</h2>
      <p>Kuvittele, että olet pellolla ja putoat yhtäkkiä kuoppaan. Huomaat, ettet pääse kuopasta pois. Ainoa työkalu, jonka löydät, on lapio. Niinpä alat kaivaa. Kaivat ja kaivat, mutta olet yhä kuopassa. Olet kaivanut kaivamistasi ja tehnyt paljon työtä, mutta kuoppa on vain tullut suuremmaksi. Olet yhä kuopassa. Pohjalla olevaa likaa voi siis irrota. Anna sen, mitä esiin tulee, ikään kuin valua veden mukana pois ja päästä siitä irti. Yhtä hyvin voisimme verrata tilannettasi köydenvetoon hirviön kanssa:</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <h2>KUUNTELE  TÄSSÄ ON ÄÄNI NÄYTE</h2>
      <p>Lukemasi vertauskuva kuvaa sitä, että jossakin elämäsi vaiheessa olet kokenut jonkin vaikean asian: pudonnut  ikään kuin "kuoppaan". Tämä koskee meitä kaikkia: me kaikki koemme elämässä vastoinkäymisiä ja putoaamme ongelmiemme "kuoppaan".</p>
      <p>Kun sinun ongelmasi alkoivat ja putosit "kuoppaan", tartuit asian korjataksesi parhaimpaan käsillä olevaan keinoon, "lapioon": pyrit ratkaisemaan ongelmaasi lääkkeillä, ruoalla, alkoholilla, terapialla tai muulla keinoin. Ryhdyit siis "kaivamaan", koska muitakaan keinoja päästä kuopasta ei ollut tarjolla.</p>
      <p>Koska päätit osallistua ohjelmaamme, arvelemme, ettet ehkä ole saanut ongelmaasi ratkaistua niillä keinoin, joita Sinulla on ollut käytössäsi. Olet ehkä jatkanut "kaivamista", käyttänyt vanhoja tuttuja keinoja, vaikka olet ehkä tiennyt, ettei niistä ole hyötyä tai niiden teho on lyhytaikainen.</p>
      <p>Kuulostaako tämä tutulta?</p>
      <p>Emme aio tarjota Sinulle samoja tuttuja keinoja ongelmiesi ratkaisuun, koska on ilmeistä, että aiemmin käyttämäsi keinot eivät ole toimineet. Jos ne olisivat toimineet, olisitko tässä? Tästä syystä haluamme tarjota Sinulle jotakin uutta ja toisenlaista.</p>
    </div>
    <div class="col-md-6">
      <h2>Vaihtoehto umpikujalle ja kuopan kaivamiselle</h2>
      <p>Opiskelijan kompassi tarjoaa uutta näkökulmaa ja uusia tapoja lähestyä tilannettasi. Käsittelemme kompassissa tärkeitä asioita, myös sellaisia, joita et ehkä odottaisikaan tässä käsiteltävän. Sinusta saattaa ajoittain tuntua siltä, kuin olisit joutunut vuoristoradalle. Voit joutua kokemaan monenlaisia tunteita: hämmennystä, ahdistusta, ikävystymistä ja pahaa oloa. Ikään kuin poistaisit sakkaa likaisen juomalasin pohjasta: ainoa tapa puhdistaa lasi on saada sakka irti ja kaataa se veden mukana pois. Pohjalla olevaa likaa voi siis irrota. Anna sen, mitä esiin tulee, ikään kuin valua veden mukana pois ja päästä siitä irti. Yhtä hyvin voisimme verrata tilannettasi köydenvetoon hirviön kanssa:</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <h2>VERTAUSKUVA - KÖYDEN VETO</h2>
      <p>Tilanteesi on ikään kuin vetäisit köyttä hirviön kanssa. Hirviö on iso, ruma ja hyvin vahva. Sinun ja hirviön välissä on pohjaton kuilu. Jos häviät köydenvedon, putoat kuiluun ja sinun käy huonosti. Joten vedät ja vedät, mutta mitä kovemmin vedät, sitä kovemmin myös hirviö vetää, ja kuilun reuna näyttää olevan yhä lähempänä. Vaikein asia onkin ymmärtää, että Sinun tehtäväsi ei ole voittaa köydenvetoa. Sinun tehtäväsi on pudottaa köysi.</p>
    </div>
    <div class="col-md-6">
      <h2>KUUNTELE - TÄSSÄ ON ÄÄNINÄYTE</h2>
      <h2>KATSO VIDEO </h2>
      <img src="http://placekitten.com/g/400/400" alt="">
    </div>
  </div>

  <div class="row rastit-wrapper">
     <div class="col-md-2 col-md-offset-1"><a href="#">RASTI X</a></div>
     <div class="col-md-2"><a href="#">RASTI X</a></div>
     <div class="col-md-2"><a href="#">RASTI X</a></div>
     <div class="col-md-2"><a href="#">RASTI X</a></div>
     <div class="col-md-2"><a href="#">RASTI X</a></div>
  </div>

</div>

<div class="container content-in-one-page sivu3">
  <div class="row no-margin--top">
    <div class="col-md-12">
      <h1>Kokeile uutta reittiä</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <p>Jos luit edeltävän sivun "Miksi muuttaa suuntaa", ymmärrät ehkä nyt paremmin sen miksi arvelemme, että aiemmin käyttämäsi tavat ratkaista tilannettasi eivät ole toimineet ja minkä vuoksi vanhoista keinoista kannattaisi ehkä luopua.</p>
      <p>Ehdotamme, että kokeilet uusia keinoja lähestyä tilannettasi. Kompassi tarjoaa tutkittuja ja hyödyllisiä keinoja stressin selättämiseen ja oman tilanteen käsittelemiseen. Kompassi ei ainoastaan käsittele stressiä, vaan sen tavoitteena on tarjota työkaluja elämään yleensä. Kompassin "ilmansuunnat" ovat seuraavat:</p>
      <p>Seuraavina viikkoina opit jotakin uutta jokaisesta näistä suunnasta. Aloitamme ensimmäisellä viikolla tärkeimmästä eli siitä, mikä Sinulle on elämässä tärkeää.</p>
      <p>Oman tilanteen tai suunnan muuttaminen onnistuu paremmin, kun muutos ankkuroituu sellaisiin asioihin, jotka ovat oman elämäsi kannalta merkittäviä. Tärkeät asiat, joita Kompassissa kutsumme arvoiksi, luovat pohjan kaikelle muulle, sillä ne antavat syyn tehdä konkreettisia tekoja asioiden muuttamiseksi. Ne auttavat myös ikävien tunteiden kohtaamisessa, kun harkitset vanhoista toimintatavoista luopumista.</p>
    </div>
    <div class="col-md-6">
      <h2>VERTAUSKUVA MATKA</h2>
      <p>Kuten matka, myös tämä ohjelma (ja elämä) sisältää enemmän tai vähemmän vaikeita osia. Ohjelmassa tulee olemaan kohtia, jolloin kaikki kehottaa Sinua kääntymään takaisin, ja silloin on juuri tärkeintä jatkaa. Kuten matka vaihtelevassa maisemassa, tässäkin matkassasi voi olla vuorenhuippuja, joilta näet selvästi mihin kulkea. Toisena hetkenä tämä reitti voi olla kuin pimeä metsä, jossa jokainen puu näyttää samanlaiselta. Näinä hetkinä voi olla vaikea nähdä suuntaa, ja vaatii rohkeutta astella eteenpäin.</p>
      <h2>KUUNTELE TÄSSÄ ON ÄÄNINÄYTE </h2>
      <p>Mihin suuntaan Sinä olet matkalla? Aloita sen sen selvittäminen Kompassin ensimmäisestä ilmansuunnasta.</p>
      <img src="http://placekitten.com/g/400/400" alt="">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <button type="button" class="btn btn-success btn-lg btn-block">JATKA TEEMAAN MIELI MAASSA</button>
    </div>
  </div>

</div>


<div class="container">



  <div class="row">
    <div class="col-md-12">
      <h1>Vertauskuva / Harjoitus / Video / Ääni templatet</h1>
      <h2>Jokaiselle teemalle voidaan tehdä oman väriset templatet</h2>
      <a href="https://v4-alpha.getbootstrap.com/components/card/">BOOTSTRAP 4 CARDS</a>
    </div>
  </div>



  <div class="row">
  <div class="col-sm-12">
    <div class="card-header">
      HARJOITUS
    </div>
    <div class="card card-block kortti-stressi-testi">
      <div class="vasen">
        <h1>VASEN</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
      <div class="oikea">
        <h1>OIKEA</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
      <!-- <a href="#" class="btn btn-primary">TEHTÄVÄ LINKKI</a> -->
    </div>
  </div>
  <!-- <div class="col-sm-6">
    <div class="card-header">
      VERTAUSKUVA
    </div>
    <div class="card card-block">
      <h3 class="card-title">Vertauskuva kaivo</h3>
      <p class="card-text">Kaivo lorem lorem lorem</p>
      <a href="#" class="btn btn-primary">VERTAUSKUVA LINKKI</a>
    </div>
  </div> -->
</div>
<div class="row">
  <div class="col-sm-6">
    <div class="card-header">
      VIDEO
    </div>
    <div class="card card-block">
      <h3 class="card-title">VIDEO AIHE</h3>
      <p class="card-text">Mitä video sisältää</p>
      <a href="#" class="btn btn-primary">VALINNAINEN LINKKI</a>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card-header">
      ÄÄNINÄYTE
    </div>
    <div class="card card-block">
      <h3 class="card-title">ÄÄNINÄYTE</h3>
      <p class="card-text">Mikä ääni näyte</p>
      <a href="#" class="btn btn-primary">VALINNAINEN LINKKI</a>
    </div>
  </div>
</div>
</div>




<!-- Footer area, you can find scss rules from _footer.scss partial	-->
<footer class="container-fluid footer-bg-wrapper">
  <div class="container">
    <section class="footer__row">

      <div class="footer__row__block">
        <div class="footer__row__block--logo">
          <img class="img-fluid text-xs-center" src="img/jy-logo-2.png" alt="Jyväskylän Yliopisto">
          <ul class="list-unstyled">
            <li >PL 35, 40014 Jyväskylän yliopisto</li>
            <li>Käyntiosoite:</li>
            <li>Seminaarinkatu 15</li>
            <li>Vaihde (014) 260 1211</li>
            <li>fax (014) 260 1021</li>
          </ul>
        </div>
      </div>


      <div class="footer__row__block">
        <div class="footer__row__block--links">
          <ul class="list-unstyled pull-left">
            <li><a href="#">OTA YHTEYTTÄ</a></li>
            <li><a href="#">JÄSENET</a></li>
            <li><a href="#">LISÄTIETOJA</a></li>
          </ul>
          <!-- <ul class="list-unstyled pull-right">
            <li><a href="#">OTA YHTEYTTÄ</a></li>
            <li><a href="#">JÄSENET</a></li>
            <li><a href="#">LISÄTIETOJA</a></li>
            <li><a href="#">LINKKI</a></li>
            <li><a href="#">LINKKI</a></li>
            <li><a href="#">LINKKI</a></li>
          </ul> -->
        </div>
      </div>

      <div class="footer__row__block">
        <div class="footer__row__block--some">
          <ul class="list-inline list-unstyled">
            <li class="list-inline-item"><img src="img/some-icons/facebook-white.png" alt="" /></li>
            <li class="list-inline-item"><img src="img/some-icons/twitter-white.png" alt="" /></li>
            <li class="list-inline-item"><img src="img/some-icons/youtube-white.png" alt="" /></li>
          </ul>
        </div>
      </div>
    </section>
  </div>
</footer>
<!-- footer-bg-wrapper -->


<% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
  <script data-name="bundle-<%= chunk %>" src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
<% } %>


</body>

</html>
