<!doctype html>
<html>

<head>
  <title>Plone Theme</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
  <% if (htmlWebpackPlugin.files.chunks[chunk].css[0]) { %>
  <link rel="stylesheet" data-name="bundle-<%= chunk %>" href="<%= htmlWebpackPlugin.files.chunks[chunk].css[0] %>" />
  <% }} %>
</head>

<body>



<!-- Top and bottom navigation area -->
<!-- You can find navigation-area scss rules in _navigation-area.scss partial -->
  <!-- Padding 0 removes left and right padding from container-fluid element -->
<div class="container-fluid shadow-border-bottom navigation-area">
  <div class="container">
    <div class="row toprow">
      <div class="toprow__logos col-xs-4 col-md-6">
        <a class="navbar-brand" href="#"><img alt="Brand" src="img/jyu-logo.png" class="toprow__logos--big"></a>
        <a class="navbar-brand__mobile" href="#"><img alt="Brand" src="img/jyu-torch.png" class="toprow__logos--mobile" </a>
      </div>
      <div class="toprow__language-links col-xs-8 col-md-6">
        <ul class="list-inline list-unstyled pull-right">
          <li class="list-inline-item language-fi"><a href="#">Suomi</a></li>
          <li class="list-inline-item language-en"><a href="#">English</a></li>
          <li class="list-inline-item language-ge"><a href="#">German</a></li>
          <br>
          <li class="list-inline-item login"><a href="#">Kirjaudu | Login | Anmeldung</a></li>
        </ul>
      </div>
    </div>
    <!--toprow-->
    <div class="row bottomrow">
      <div class="col-md-12">
        <nav class="navbar navbar-light">

          <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#CollapsingNavbar">
              <span class="bottomrow__hamburger">&#9776;</span>
          </button>

          <ul class="nav navbar-nav pull-right collapse navbar-toggleable-xs" id="CollapsingNavbar">
            <li class="nav-item active">
              <a class="nav-link" href="#">LINKKI <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">LINKKI</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">LINKKI</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">LINKKI</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">LINKKI</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
<!--container-->


<!-- Breadcrumbs section, you can find scss rules from _breadcrumbs.scss partial -->
<section class="container breadcrumbs">
  <div class="breadcrumbs__row">
    <div class="breadcrumbs__row__column">
      <a href="#"><p>Leivänmurut > Pääsivu > Joku muusivu > Ja joku > Toinen polku</p></a>
    </div>
  </div>
</section>
<!-- breadcrumbs -->



<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>Stressi reitti</h2>
      <ul class="stress__nav__wrapper list-inline list-unstyled">
        <li class="list-inline-item"><a class="stress__nav__item active" href="#">TEHTÄVÄ x</a></li>
        <li class="list-inline-item"><a class="stress__nav__item" href="#">TEHTÄVÄ x</a></li>
        <li class="list-inline-item"><a class="stress__nav__item" href="#">TEHTÄVÄ x</a></li>
        <li class="list-inline-item"><a class="stress__nav__item" href="#">TEHTÄVÄ x</a></li>
        <li class="list-inline-item"><a class="stress__nav__item" href="#">TEHTÄVÄ x</a></li>
      </ul>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>Mieli maassa reitti</h2>
      <ul class="distress__nav__wrapper list-inline list-unstyled">
        <li class="list-inline-item"><a class="distress__nav__item active" href="#">TEHTÄVÄ x</a></li>
        <li class="list-inline-item"><a class="distress__nav__item" href="#">TEHTÄVÄ x</a></li>
        <li class="list-inline-item"><a class="distress__nav__item" href="#">TEHTÄVÄ x</a></li>
        <li class="list-inline-item"><a class="distress__nav__item" href="#">TEHTÄVÄ x</a></li>
        <li class="list-inline-item"><a class="distress__nav__item" href="#">TEHTÄVÄ x</a></li>
      </ul>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>Jännittääkö ahdistaako reitti</h2>
      <ul class="depress__nav__wrapper list-inline list-unstyled">
        <li class="list-inline-item"><a class="depress__nav__item active" href="#">TEHTÄVÄ x</a></li>
        <li class="list-inline-item"><a class="depress__nav__item" href="#">TEHTÄVÄ x</a></li>
        <li class="list-inline-item"><a class="depress__nav__item" href="#">TEHTÄVÄ x</a></li>
        <li class="list-inline-item"><a class="depress__nav__item" href="#">TEHTÄVÄ x</a></li>
        <li class="list-inline-item"><a class="depress__nav__item" href="#">TEHTÄVÄ x</a></li>
      </ul>
    </div>
  </div>
</div>


<div class="container etusivu">
  <div class="row">
    <div class="col-md-12">
      <h2>Opiskelijan kompassi ETUSIVU</h2>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h2>Tervetuloa Opiskelijan kompassiin!</h2>
      <p>Opiskelijan kompassin tarkoituksena on tukea Jyväskylän yliopiston opiskelijoita heidän opinnoissaan ja elämässään. Kompassin tavoitteena on edistää opiskelijoiden hyvinvointia ja itsetuntemusta sekä ehkäistä stressiä, ahdistusta ja masennusta. Opiskelijan kompassi antaa eväitä ja työkaluja jaksamiseen ja erilaisiin ongelmiin, joita opiskelija opintojensa aikana kohtaa.
      Yliopisto-opiskelijoiden terveystutkimuksen mukaan monet opiskelijat saattavat kokea ongelmia liittyen mm. stressiin ja ajanhallintaan, liialliseen jännittyneisyyteen tai ahdistuneisuuteen, mielialaan, ihmissuhteisiin, itsetuntoon ja opiskelutaitoihin. Samoilla opiskelijoilla on myös sisäisiä voimavaroja ja käsittelykykyä, joita Opiskelijan Kompassi haluaa nostaa esiin ja vahvistaa. Tällä hetkellä olemmekin valinneet Opiskelijan kompassin teemoiksi stressin, mielialan ja ahdistuksen, sillä ne vaikuttavat usein tuntuvan esteiltä oman hyvinvoinnin tiellä. Kompassin avulla on mahdollista oppia uudenlainen suhtautumistapa omiin ajatuksiin, tunteisiin ja tuntemuksiin, jotka liittyvät näihin teemoihin ja hyvinvointiin yleisesti. Kompassi tarjoaa konkreettisia työkaluja jokapäiväisen elämän havainnoimiseen. Kompassin pääasiallinen tavoite on johdattaa itselle tärkeiden, olennaisten ja merkityksellisten asioiden äärelle.
      Opiskelijan kompassi tarjoaa tukeaan myös, mikäli haluat pohtia tavoitteitasi, saada apua ajankäyttöösi tai omaan jaksamiseesi liittyviin asioihin, kuten motivaatio-ongelmiin, tenttipelkoon, opiskelutaitoihin, tutkielma-ahdistukseen, esiintymispelkoon jne. Täältä löydät materiaalia, mikäli haluat opetella taitoja, jotka voivat auttaa sinua saamaan enemmän irti arjestasi.
      Kompassin tarkoituksena on auttaa Sinua saamaan uutta näkökulmaa tilanteeseesi ja antaa sinulle välineitä auttaa itse itseäsi. Toivomme, että tulet löytämään asioita, jotka ovat tärkeitä juuri Sinulle, ja jotka auttavat jaksamaan paremmin opinnoissasi ja elämässäsi.</p>
      <h2>Miten suunnistan Opiskelijan Kompassissa?</h2>
      <p>Opiskelijan Kompassi (OK) on hyvinvointi- ja elämäntaito-ohjelma, joka antaa eväitä ja työkaluja jaksamiseen ja erilaisiin ongelmiin, joita opiskelija opintojensa aikana kohtaa. Tavallisimpia opiskelijoiden kokemia ongelmia tutkimuksen mukaan ovat mm. stressi, alakulo, ahdistus ja jännittäminen, jotka voivat vaikuttaa negatiivisesti omaan hyvinvointiin. Kompassin tarkoituksena on tarjota toisenlaista suhtautumista näihin ongelmiin ja lisätä psykologista joustavuutta.
      Kuhunkin näistä ongelma-alueista olemme kehittäneet oman hyvinvointiohjelman, jota kutsumme "reitiksi".</p>
      <h3>Valitse yksi reitti</h3>
      <p>Suosittelemme, että seuraat yhtä reittiä kerrallaan. Kaikkien reittien sisältö koostuu samoista periaatteista, jotka pohjautuvat hyvin tutkittuun arvo- ja mindfulness-menetelmään. Saat eniten hyötyä ohjelmasta jos valitset vain yhden reitin, joka sinun mielestäsi on tällä hetkellä tärkein:</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="reitti__laatikko punainen">
          <a href="#">MIELI MAASSA?</a>
      </div>
    </div>
    <div class="col-md-6">
      <div class="reitti__laatikko vihrea">
          <a href="#">AHDISTAAKO?</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="reitti__laatikko sininen">
          <a href="#">STRESSAAKO?</a>
      </div>
    </div>
    <div class="col-md-6">
      <div class="reitti__laatikko neutraali">
          <a href="#">JOKU MUU REITTI KOSKA 4</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h2>Mistä Opiskelijan Kompassi koostuu?</h2>
      <p>Jokaisella reitillä on 5-6 teemaa tai "rastia". Kutakin teemaa voit käsitellä oman aikataulusi mukaan tai esim. yhden teeman viikoittain. Suosittelemme kuitenkin, että seuraat teemoja siinä järjestyksessä kuin ne on laadittu.
        Mitä Opiskelijan Kompassi tarjoaa?Jokaisella viikolla saat uusia näkökulmia avaavaa luettavaa ja harjoituksia. Harjoitukset voivat olla esim. pohdintatehtäviä tai ne voivat olla mindfulness- tai rentoutusharjoituksia. Harjoitukset ovat kuunneltavissa, luettavissa ja joskus myös katseltavissa videoina. Voit varata ohjelmaa varten esim. vihkon, johon teet ohjelman harjoitukset ja kirjaat tuntemuksia ja ajatuksia, joita sinulle herää matkan varrella.
        Opiskelijan Kompassi auttaa Sinua tarkastelemaan itseäsi ja elämääsi  näkökulmasta,  joka saattaa poiketa siitä mihin olet ehkä tottunut. OK-ohjelman tarkoituksena ei kuitenkaan ole pelkästään antaa tietoa. On tärkeää, että myös aktiivisesti toteutat käytännössä niitä asioita, jota opit jokaisen viikon aikana. Osa harjoituksista voi tuntua haastavilta tai oudoiltakin, mutta on kuitenkin hyvin tärkeää, että teet tehtävät parhaan kykysi mukaan. Ei ole oikeaa tai väärää tapaa tehdä harjoituksia, vaan tärkeää on, että sovellat harjoituksia omaan arkeesi.</p>
      <h2>Miten saat Kompassista parhaan hyödyn?</h2>
      <p>Pyydämme Sinulta avointa, kokeilevaa mieltä. Kompassin sisältö ei välttämättä tunnu kevyeltä - se vaatii sitoutumista asioiden kanssa työskentelyyn ja omakohtaista sulattelua. Anna itsellesi riittävästi aikaa Kompassin kanssa. Sinä päätät, onko kokeilemastasi ohjelmasta hyötyä ja haluatko soveltaa ohjelman tarjoamia työkaluja myös jatkossa. Opiskelijan Kompassi perustuu tutkimustietoon, joten ajankäyttö näiden asioiden parissa todella kannattaa. Kompassin avulla voit saada uudenlaisia keinoja selviytyä opiskelijaelämän haasteista.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h2>Miten Opiskelijan Kompassia voi käyttää?</h2>
      <p>Tällä hetkellä voit käyttää Kompassia itsenäisesti ja navigoida sivuston ylälaidassa olevan valikon kautta. Ohjelma on myös tarjolla tuen kanssa.</p>
      <h3>Kaipaatko henkilökohtaista tukea?</h3>
      <h3>Haluatko keskustella tilanteestasi jonkun kanssa?</h3>
      <p>NYT on mahdollisuus myös saada ilmaista henkilökohtaista tukea, joka sisältää 3 yksilöllistä tapaamista kasvokkain hyvinvointivalmentajan kanssa.</p>
      <p>Tämä vaihtoehto sopii sinulle hyvin jos koet, että haluat parantaa hyvinvointiasi, muttet tiedä mistä aloittaa. Ohjelma on laadittu niin, että voit seurata sitä itsenäisesti seuraamalla suunniteltua reittiä. Henkilökohtaisen kontaktin ja erityisesti kasvokkaisten tapaamisten tarkoitus on antaa mahdollisuus keskustella ohjelman teemojen ohella myös mistä tahansa aiheesta, jonka koet tärkeäksi tai jopa ongelmalliseksi tällä hetkellä elämässäsi. Henkilökohtainen tuki voi auttaa selkiyttämään asioita, jotka voivat esimerkiksi olla esteenä hyvinvoinnillesi yleisesti, haitata opintojesi sujumista tai aiheuttaa ongelmia ihmissuhteissa. Henkilökohtainen tuki voi myös auttaa pitämään kiinni päätöksestäsi toimia hyvinvointisi eteen ja pitää käynnissä ilmoittautumalla aloittamasi prosessin.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
          <div class="card-block">
            <h4 class="card-title">SEURAAVA JAKSO SYKSYLLÄ!</h4>
            <p class="card-text">Sinulla on mahdollisuus osallistua ohjelmaan, joka sisältää verkkojakson lisäksi
            henkilökohtaisia tapaamisia hyvinvointivalmentajan kanssa!
            Jos olet kiinnostunut, ota yhteyttä:</p>
            <a href="#" class="">opiskelijankompassi@jyu.fi</a>
            <a href="#" class="">panajiota.rasanen@jyu.fi </a>
            <input type="text">
          </div>
      </div>
    </div>
  </div>
</div>




<div class="container rastit-nav">
  <div class="row">
    <div class="col-md-12">
      <h1>Reitit navigaatio  laatikot </h1>
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">LAATIKKO LAATIKKO</div>
    <div class="col-md-3">LAATIKKO LAATIKKO</div>
    <div class="col-md-3">LAATIKKO LAATIKKO</div>
    <div class="col-md-3">LAATIKKO LAATIKKO</div>
  </div>
  <div class="row">
    <div class="col-md-3">LAATIKKO LAATIKKO</div>
    <div class="col-md-3">LAATIKKO LAATIKKO</div>
    <div class="col-md-3">LAATIKKO LAATIKKO</div>
    <div class="col-md-3">LAATIKKO LAATIKKO</div>
  </div>
</div>















<!-- Footer area, you can find scss rules from _footer.scss partial	-->
<footer class="container-fluid footer-bg-wrapper">
  <div class="container">
    <section class="footer__row">

      <div class="footer__row__block">
        <div class="footer__row__block--logo">
          <img class="img-fluid text-xs-center" src="img/jy-logo-2.png" alt="Jyväskylän Yliopisto">
          <ul class="list-unstyled">
            <li >PL 35, 40014 Jyväskylän yliopisto</li>
            <li>Käyntiosoite:</li>
            <li>Seminaarinkatu 15</li>
            <li>Vaihde (014) 260 1211</li>
            <li>fax (014) 260 1021</li>
          </ul>
        </div>
      </div>


      <div class="footer__row__block">
        <div class="footer__row__block--links">
          <ul class="list-unstyled pull-left">
            <li><h4>TUKILINKIT</h4></li>
            <li><a href="#">OTA YHTEYTTÄ</a></li>
            <li><a href="#">JÄSENET</a></li>
            <li><a href="#">LISÄTIETOJA</a></li>
            <li><a href="#">LINKKI</a></li>
            <li><a href="#">LINKKI</a></li>
            <li><a href="#">LINKKI</a></li>
          </ul>
          <!-- <ul class="list-unstyled pull-right">
            <li><a href="#">OTA YHTEYTTÄ</a></li>
            <li><a href="#">JÄSENET</a></li>
            <li><a href="#">LISÄTIETOJA</a></li>
            <li><a href="#">LINKKI</a></li>
            <li><a href="#">LINKKI</a></li>
            <li><a href="#">LINKKI</a></li>
          </ul> -->
        </div>
      </div>

      <div class="footer__row__block">
        <div class="footer__row__block--some">

          <ul class="list-inline list-unstyled pull-right">
            <li class="text-xs-left"><h4>SEURAA MEITÄ</h4></li>
            <li class="list-inline-item"><img src="img/some-icons/facebook.png" alt="" /></li>
            <li class="list-inline-item"><img src="img/some-icons/twitter.png" alt="" /></li>
            <li class="list-inline-item"><img src="img/some-icons/linkedin.png" alt="" /></li>
            <li class="list-inline-item"><img src="img/some-icons/instagram.png" alt="" /></li>
            <li class="list-inline-item"><img src="img/some-icons/youtube.png" alt="" /></li>
          </ul>
        </div>
      </div>
    </section>
  </div>
</footer>
<!-- footer-bg-wrapper -->


<% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
  <script data-name="bundle-<%= chunk %>" src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
<% } %>


</body>

</html>
