
/* This is independent warpper module */
.footer-bg-wrapper
{
    height: 100%;
    padding: 0;

    background: linear-gradient(
    rgba(232, 92, 37, .9),
    rgba(232, 92, 37, .9)
    ),
    url('img/minimal02-5.png');
}

/* Top footer area */
.footer-area
{
    @extend .row;


    &__left-block
    {
        height: 300px;

        @extend .col-md-5;
        @extend .col-md-offset-1;;

        &__logo
        {
            position: relative;
            top: 56px;
            left: 40px;

            width: 300px;
            height: auto;
        }
    }

    &__right-block
    {
        @extend .col-md-4;
        @extend .col-md-offset-right-2;
    }
}


/* Bottom footer area */
.footer-area-bottom
{
    @extend .row;

    &__info
    {
        @extend .col-xs-12;


        height: 40px;

        background: linear-gradient(
        rgba(232, 92, 37, .9),
        rgba(232, 92, 37, .9)
        ),
        url('img/minimal02-5.png');

    }
}
