.main-nav
{
    border-bottom: 2px solid #000;
    border-radius: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,1);
       -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,1);
            box-shadow: 0 2px 5px 0 rgba(0,0,0,1);



    .navbar-toplinks
    {
        height: 75px;
    }



    .navbar-bottomlinks
    {
        .navbar-brand
        {
            @media (min-width: 992px)
            {
                padding-right: 100px;
            }

            @media (min-width: 1200px)
            {
                padding-right: 300px;
            }

            @media (max-width: 480px)
            {
                display: none;
            }

            .header-logo
            {
                position: relative;
                bottom: 70px;

                width: 200px;
                max-width: 100%;
                height: auto;
            }
        }

        .navbar-brand--mobile
        {
            font-size: 18px;
            line-height: 20px;

            float: left;

            height: 50px;
            padding: 15px 15px;

            @media (min-width: 480px)
            {
                display: none;
            }

            .header-logo--mobile
            {
                position: relative;
                bottom: 75px;

                width: 38px;
                max-width: 100%;
                height: auto;
            }
        }
    }
}
