


.footer-bg-wrapper
{
    height: 25em;
    padding: 0;

    // background: linear-gradient(
    // rgba($footer-bg-wrapper--blue, .9),
    // rgba($footer-bg-wrapper--blue, .9)
    // ),
    // url('img/minimal02-5.png');

    background: url('img/footer_lodyas.png');
    background-repeat: repeat-x;
    background-position: center;



    .footer__row
    {
      @include make-row();


      &__block
      {
        @include make-col();

        @media (min-width: 24em)
        {
          @include make-col-span(4);
        }

        &--links
        {
            margin-top: 1rem;
        }

        &--logo
        {
            margin-top: 1rem;

            p
            {
              padding-top: 0.4rem;
              color: rgba($white, 0.6);
            }
        }

        &--some
        {
          text-align: right;

          ul
          {
            margin-top: 1rem;

            li
            {
              margin: 0.2rem;
            }

          }
        }
      }
    }

}
