


.footer-bg-wrapper
{
    height: 25em;
    padding: 0;

    // background: linear-gradient(
    // rgba($footer-bg-wrapper--blue, .9),
    // rgba($footer-bg-wrapper--blue, .9)
    // ),
    // url('img/minimal02-5.png');

    background: url('img/footer_lodyas.png');
    background-repeat: repeat-x;
    background-position: center;

    color: #cccccc;

    a
    {
      color: #cccccc;
    }

    .footer__row
    {
      @include make-row();


      &__block
      {
        @include make-col();

        @media (min-width: 24em)
        {
          @include make-col-span(4);
        }

        &--links
        {
            ul:nth-child(1)
            {
              margin: 11em 0 0 2em;
            }

            ul:nth-child(2)
            {
              margin: 11em 0 0 0;
            }
        }

        &--logo
        {
            margin-top: 3rem;

            img
            {
              width: 15em;
            }

            p
            {
              padding-top: 0.4rem;
              color: rgba($white, 0.6);
            }

            ul
            {
              margin: 2em 0 0 1em;
            }
        }

        &--some
        {
          text-align: right;

          ul
          {
            margin-top: 11rem;

            li
            {
              margin: 0.2rem;
            }

          }
        }
      }
    }

}
