/* Placeholder mixing */

%create-paths-grid
{
    .header
    {
        @include media-breakpoint-up(xs)
        {
            background-color: rgb(231, 92, 40);

            @include make-col();
            @include make-col-span(12);
        }
        @include media-breakpoint-up(sm)
        {
            @include make-col();
            @include make-col-span(6);
        }
        @include media-breakpoint-up(md)
        {
            @include make-col();
            @include make-col-span(2);
        }
    }

    .task
    {
        height: 9em;

        background-color: rgb(72, 181, 55);

        @include media-breakpoint-up(xs)
        {
            height: 4em;

            @include make-col();
            @include make-col-span(12);
        }

        &--completed
        {
            height: 9em;

            background-color: rgb(199, 37, 226);

            @include media-breakpoint-up(xs)
            {
                height: 4em;

                @include make-col();
                @include make-col-span(12);
            }
        }
    }
}




.paths__row
{

  @include make-row();


  &__item
  {

    @include make-col();

    @media (min-width: 32em)
    {
       @include make-col-span(12);
    }

    &--stress
    {
      @extend %create-paths-grid;
    }


    &--depress
    {
      @extend %create-paths-grid;
    }


    &--distress
    {
      @extend %create-paths-grid;
    }
  }

}
