
/*
*  ----------  HUOM ! -----------
*  Tämä scss on vain käytössä OK projektin lokaalissa testi ympäristössä
*  Tätä ei käytetä tuotannossa
*
*
*
*
*/



.rastit-nav
{
  &__box
  {
    margin-bottom: 1em;
    margin-right: 1em;

    a
    {
      display: block;
      color: rgb(0, 0, 0);
      cursor: pointer;
      font-size: 1.5em;
      text-align: center;
      line-height: 4em;
    }

    &.stressi
    {
      background-color: green;
    }

    &.mielimaassa
    {
      background-color: cyan;
    }

    &.ahdistaako
    {
      background-color: yellow;
    }
  }
}





.stress__nav__wrapper
{
  margin: 2em 0;

  .list-inline-item:not(:last-child)
  {
      margin-right: -6px;
  }

  li
  {
    margin-bottom: 3em;
  }

  .stress__nav__item
  {
    background-color: rgb(233, 65, 78);
    padding: 19px 60px;
    color: $white;
    position: relative;

    &:hover
    {
      background-color: tint(rgb(233, 65, 78), 40%);;
    }

    &.active
    {
      background-color: tint(rgb(233, 65, 78), 20%);
    }
  }

}
