// PLONE 5 BARCELONETA SCSS

$plone-body-bg: #fff;
$plone-text-color: #333;
$plone-footer-bg: none;
$plone-table-bg: transparent;
$plone-portlet-footer-bg: none;
$plone-link-color: #004494;

$plone-font-size-small: 14px;
$plone-font-size-base:  16px;
$plone-font-size-large: 18px;
.plone-nav > li > a { font-size: $plone-font-size-large; }

$plone-sitenav-bg: #004494;
$plone-sitenav-hover-bg: #206AC2;
$plone-sitenav-link-hover-bg: #206AC2;

$plone-default-published-color: #659408;

$plone-font-weight-medium: 500;
$plone-font-weight-regular: 400;
$plone-headings-font-weight: $plone-font-weight-medium;
body { font-weight: $plone-font-weight-regular; }

// Core variables and mixins
@import "~plonetheme.barceloneta/plonetheme/barceloneta/theme/scss/variables.plone.scss";
@import "~plonetheme.barceloneta/plonetheme/barceloneta/theme/scss/mixin.prefixes.plone.scss";
@import "~plonetheme.barceloneta/plonetheme/barceloneta/theme/scss/mixin.tabfocus.plone.scss";
@import "~plonetheme.barceloneta/plonetheme/barceloneta/theme/scss/mixin.images.plone.scss";
@import "~plonetheme.barceloneta/plonetheme/barceloneta/theme/scss/mixin.forms.plone.scss";
@import "~plonetheme.barceloneta/plonetheme/barceloneta/theme/scss/mixin.borderradius.plone.scss";
@import "~plonetheme.barceloneta/plonetheme/barceloneta/theme/scss/mixin.buttons.plone.scss";
@import "~plonetheme.barceloneta/plonetheme/barceloneta/theme/scss/mixin.clearfix.plone.scss";
@import "~plonetheme.barceloneta/plonetheme/barceloneta/theme/scss/mixin.gridframework.plone.scss";
@import "~plonetheme.barceloneta/plonetheme/barceloneta/theme/scss/mixin.grid.plone.scss";
@import "~plonetheme.barceloneta/plonetheme/barceloneta/theme/scss/mixin.font.plone.scss";

// Fonts
$plone-font-path: "~plonetheme.barceloneta/plonetheme/barceloneta/theme/scss/";
@import "~plonetheme.barceloneta/plonetheme/barceloneta/theme/scss/fonts.plone.scss";

// Reset and dependencies
@import "~plonetheme.barceloneta/plonetheme/barceloneta/theme/scss/normalize.plone.scss";
@import "~plonetheme.barceloneta/plonetheme/barceloneta/theme/scss/print.plone.scss";

// Core CSS
@import "~plonetheme.barceloneta/plonetheme/barceloneta/theme/scss/scaffolding.plone.scss";
@import "~plonetheme.barceloneta/plonetheme/barceloneta/theme/scss/type.plone.scss";
@import "~plonetheme.barceloneta/plonetheme/barceloneta/theme/scss/code.plone.scss";
@import "~plonetheme.barceloneta/plonetheme/barceloneta/theme/scss/grid.plone.scss";
@import "~plonetheme.barceloneta/plonetheme/barceloneta/theme/scss/tables.plone.scss";
@import "~plonetheme.barceloneta/plonetheme/barceloneta/theme/scss/forms.plone.scss";
@import "~plonetheme.barceloneta/plonetheme/barceloneta/theme/scss/buttons.plone.scss";
@import "~plonetheme.barceloneta/plonetheme/barceloneta/theme/scss/states.plone.scss";

// Components
@import "~plonetheme.barceloneta/plonetheme/barceloneta/theme/scss/breadcrumbs.plone.scss";
@import "~plonetheme.barceloneta/plonetheme/barceloneta/theme/scss/pagination.plone.scss";
@import "~plonetheme.barceloneta/plonetheme/barceloneta/theme/scss/formtabbing.plone.scss";
@import "~plonetheme.barceloneta/plonetheme/barceloneta/theme/scss/views.plone.scss";
@import "~plonetheme.barceloneta/plonetheme/barceloneta/theme/scss/thumbs.plone.scss";
@import "~plonetheme.barceloneta/plonetheme/barceloneta/theme/scss/alerts.plone.scss";
@import "~plonetheme.barceloneta/plonetheme/barceloneta/theme/scss/portlets.plone.scss";
@import "~plonetheme.barceloneta/plonetheme/barceloneta/theme/scss/controlpanels.plone.scss";
@import "~plonetheme.barceloneta/plonetheme/barceloneta/theme/scss/tags.plone.scss";

// Icons
#visual-portal-wrapper [class*="contenttype-"]:before {
  display: inline-block;
  position: relative;
  margin: 0 0 (-$plone-padding-base-vertical * 0.75) 0;
  padding: 0;
  left: inherit;
  width: 18px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center left;
  background-size: 15px 15px;
  content: "";
}

// Patterns
@import "~plonetheme.barceloneta/plonetheme/barceloneta/theme/scss/accessibility.plone.scss";
@import "~plonetheme.barceloneta/plonetheme/barceloneta/theme/scss/toc.plone.scss";
@import "~plonetheme.barceloneta/plonetheme/barceloneta/theme/scss/dropzone.plone.scss";
@import "~plonetheme.barceloneta/plonetheme/barceloneta/theme/scss/modal.plone.scss";
@import "~plonetheme.barceloneta/plonetheme/barceloneta/theme/scss/pickadate.plone.scss";
@import "~plonetheme.barceloneta/plonetheme/barceloneta/theme/scss/sortable.plone.scss";
@import "~plonetheme.barceloneta/plonetheme/barceloneta/theme/scss/tablesorter.plone.scss";
@import "~plonetheme.barceloneta/plonetheme/barceloneta/theme/scss/tooltip.plone.scss";
@import "~plonetheme.barceloneta/plonetheme/barceloneta/theme/scss/tree.plone.scss";

// Structure
@import "~plonetheme.barceloneta/plonetheme/barceloneta/theme/scss/header.plone.scss";
@import "~plonetheme.barceloneta/plonetheme/barceloneta/theme/scss/sitenav.plone.scss";
@import "~plonetheme.barceloneta/plonetheme/barceloneta/theme/scss/main.plone.scss";
@import "~plonetheme.barceloneta/plonetheme/barceloneta/theme/scss/footer.plone.scss";
@import "~plonetheme.barceloneta/plonetheme/barceloneta/theme/scss/loginform.plone.scss";
@import "~plonetheme.barceloneta/plonetheme/barceloneta/theme/scss/sitemap.plone.scss";

// Products
@import "~plonetheme.barceloneta/plonetheme/barceloneta/theme/scss/event.plone.scss";
@import "~plonetheme.barceloneta/plonetheme/barceloneta/theme/scss/image.plone.scss";
@import "~plonetheme.barceloneta/plonetheme/barceloneta/theme/scss/behaviors.plone.scss";
@import "~plonetheme.barceloneta/plonetheme/barceloneta/theme/scss/discussion.plone.scss";
@import "~plonetheme.barceloneta/plonetheme/barceloneta/theme/scss/search.plone.scss";

// Customizations

// Hide mainpage from breadcrumbs
#breadcrumbs-home, #breadcrumbs-1 { display: none; }

// Logo maximum height (to support hi-dpi logo)
#portal-header { height: 120px; }
#portal-logo { position: absolute; }
#portal-logo > img { max-height: 120px; }

// Only show section search when inside a section
#portal-searchbox .searchSection { display: none; }
body[class*='subsection-'] #portal-searchbox .searchSection { display: block; }

// Custom Navtree indent
.navTree ul:not(.navTreeLevel1) { margin-left: 1em; }

// Limit image maximum width
img { max-width: 100%; }

// Fix to not hide legacy 'invisible' (border) table class
table.invisible { visibility: visible; }

// Remove extra indentation from lists
ol, ul { padding-left: 1em; }

// Various content themes

.image-inline { float: none; height: auto; }

.documentFirstHeading { border: none; }

.documentDescription {
  color: $plone-text-color;
  font-size: $plone-font-size-large;
}

// Override the default portal footer styles
#portal-footer-wrapper, #portal-footer,
#portal-footer-wrapper .portletWrapper:first-child {
  border: none;
  color: $plone-text-color;
  abbr { color: $plone-text-color };
  a { color: $plone-link-color; }
  p { border: none; padding-bottom: 0; }
}

// Custom responsive styles

@media screen and (min-width: 768px) {
  .col-sm-3 { width: 20%; }
  .col-sm-6 { width: 60%; }
}

@media screen and (min-width: 1024px) {
  .col-sm-6 { width: 54%; }
  .col-sm-3 { width: 22%; }
  .col-sm-9 { width: 78%; }
}

@media screen and (min-width: 1200px) {
    .container {
        width: 1270px;
    }
}

@media screen and (min-width: 1600px) {
  .container,
  .plone-toolbar-left-default .container,
  .plone-toolbar-left-expanded .container {
    width: 1400px;
  }
}

@media screen and (max-width: 769px) {
  #portal-languageselector { float: right; margin-right: 60px; }
  #portal-searchbox { margin-top: 127px; }
}
